/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  color: #363636;
}

body,
h1,
h2,
h3,
h4,
pre {
  margin: 0;
}

h1 {
  font-size: 96px;
  font-weight: 700;
}

h2,
h3,
button {
  font-size: 30px;
  font-weight: normal;
}

pre {
  font-family: "Poppins", sans-serif;
}

.transition {
  transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
}

.button {
  border-radius: 100px;
  padding: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: none;
  transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  cursor: pointer;
}

.button--blue {
  background-color: #3898f1;
  color: white;
}

.button--blue:hover,
.button--blue:focus {
  background-color: #1d71c0;
}

.button--black {
  color: white;
  background-color: #363636;
}

.button--black:hover,
.button--black:focus {
  background-color: #575757;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* hero */
.hero {
  min-height: 100vh;
}
.hero__entry__bottom {
  padding-top: 20px;
}
.hero__video {
  width: 35vw;
}
.hero__entry {
  margin-bottom: 100px;
}
.hero__entry__bottom__button,
.hero__entry__bottom__text {
  display: inline;
}

.hero__entry__bottom__text {
  margin-left: 10px;
}

/* about */
.about {
  background-color: #363636;
  flex-direction: column;
  color: white;
}

.about h4 {
  font-size: 96px;
}
.about h2,
.about button {
  margin-top: 40px;
  text-align: center;
}

.about button {
  margin-bottom: 60px;
}
/* about2 */
.about2 {
  background-color: #3898f1;
  flex-direction: column;
  color: white;
}

.about2 h4 {
  font-size: 96px;
}

.about2 a {
  text-decoration: none;
}
.about2 h4,
.about h4 {
  margin-top: 60px;
  text-align: center;
}
.about2 h2,
.about2 button {
  margin-top: 40px;
  text-align: center;
}

.about2 button {
  margin-bottom: 60px;
}
