/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

body,
a {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  color: #363636;
}

body,
h1,
h2,
h3,
h4,
pre,
p {
  margin: 0;
}

button,
a {
  cursor: pointer;
}

h1 {
  font-size: 96px;
  font-weight: 700;
}

h2,
h3,
button {
  font-size: 30px;
  font-weight: normal;
}

pre {
  font-family: "Poppins", sans-serif;
}

.transition {
  transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
}

.button {
  display: inline-block;
  border-radius: 100px;
  padding: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: none;
  transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
}

.button--blue {
  background-color: #3898f1;
  color: white;
}

.button--blue:hover,
.button--blue:focus {
  background-color: #1d71c0;
}

.button--black {
  color: white;
  background-color: #363636;
}

.button--black:hover,
.button--black:focus {
  background-color: #575757;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.header p,
.header a {
  margin-right: 150px;
  margin-left: 150px;
  font-size: 20px;
  display: inline;
}

/* hero */
.hero {
  min-height: 95vh;
}
.hero__entry__bottom {
  padding-top: 20px;
}
.hero__video {
  width: 35vw;
}
.hero__entry {
  margin-bottom: 100px;
}
.hero__entry__bottom__button,
.hero__entry__bottom__text {
  display: inline;
}

.hero__entry__bottom__text {
  margin-left: 10px;
}

/* about */
.about {
  background-color: #363636;
  flex-direction: column;
  color: white;
}

.about h4 {
  font-size: 96px;
}
.about h2,
.about button {
  margin-top: 40px;
  text-align: center;
}

.about button {
  margin-bottom: 60px;
}
/* about2 */
.about2 {
  background-color: #3898f1;
  flex-direction: column;
  color: white;
}

.about2 h4 {
  font-size: 96px;
}

.about2 a {
  text-decoration: none;
}
.about2 h4,
.about h4 {
  margin-top: 60px;
  text-align: center;
}
.about2 h2,
.about2 button {
  margin-top: 40px;
  text-align: center;
}

.about2 button {
  margin-bottom: 60px;
}

/* profile */
.profile {
  flex-direction: column;
  width: 70vw;
  margin: 0 auto;
  margin-top: 100px;
}
.profile__buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.profile__table {
  margin-top: 50px;
  width: 100%;
}
.profile__buttons div:first {
  align-items: center;
}
.profile__buttons button,
.profile__buttons p,
.profile__buttons h1 {
  display: inline;
}
.profile > h2 {
  align-self: flex-start;
}
.fullscreen {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

tr {
  border: 1px solid black;
}
